<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinddung2.givemeticon.domain.brand.mapper.BrandMapper">

    <!-- 객체 필드명과 db 칼럼명이 다른 경우에만 일치시키기 위해 작성-->
    <resultMap id="brandResultMap" type="Brand">
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
    </resultMap>

    <insert id="save" parameterType="Brand" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO brand (id,
                           category_id,
                           name,
                           created_date,
                           updated_date)
        VALUES (#{id},
                #{categoryId},
                #{name},
                NOW(),
                NOW())
    </insert>

    <select id="findById" parameterType="int" resultType="Brand">
        SELECT id, category_id, name
        FROM brand
        where id = #{id}
    </select>

    <select id="findAllByCategory" parameterType="map" resultMap="brandResultMap">
        SELECT id, category_id, name
        FROM brand
        WHERE category_id = #{id}
        ORDER BY created_date DESC
        <if test="pageSize != null and offset != null">
            LIMIT #{pageSize}
            OFFSET #{offset}
        </if>
    </select>

    <select id="countBrandByCategoryId" parameterType="int" resultType="int">
        SELECT COUNT(id)
        FROM brand
        WHERE category_id = #{categoryId}
    </select>


    <select id="existsByName" parameterType="String" resultType="boolean">
        SELECT EXISTS
                   (SELECT 1 FROM brand where name = #{name})
    </select>

    <update id="updateName">
        UPDATE brand
        SET name = #{newName}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE
        FROM brand
        WHERE id = #{id}
    </delete>
</mapper>
