<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinddung2.givemeticon.domain.point.mapper.CashPointMapper">

    <insert id="save" parameterType="CashPoint" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cash_point (id,
                                cash_point,
                                created_date)
        VALUES (#{id},
                #{cashPoint},
                NOW())
    </insert>

    <update id="merge" parameterType="CashPoint">
        UPDATE cash_point
        SET cash_point = #{cashPoint}
        WHERE id = #{id}
    </update>

    <select id="getCashPointById" parameterType="int">
        SELECT id,
               cash_point,
               created_date
        FROM cash_point
        WHERE id = #{cashPointId}
    </select>

</mapper>
