<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinddung2.givemeticon.domain.coupon.mapper.CouponMapper">

    <insert id="save" parameterType="Coupon" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO coupon (id,
                            user_id,
                            stock_id,
                            name,
                            coupon_type,
                            coupon_number,
                            price,
                            is_used,
                            created_date,
                            expired_date)
        VALUES (#{id},
                #{userId},
                #{stockId},
                #{name},
                #{couponType},
                #{couponNumber},
                #{price},
                #{isUsed},
                #{createdDate},
                #{expiredDate})
    </insert>

    <update id="merge" parameterType="Coupon">
        UPDATE coupon
        SET user_id       = #{userId},
            stock_id      = #{stockId},
            name          = #{name},
            coupon_type   = #{couponType},
            coupon_number = #{couponNumber},
            price         = #{price},
            is_used       = #{isUsed},
            created_date  = #{createdDate},
            expired_date  = #{expiredDate}
        WHERE id = #{id};
    </update>

<!--    <select id="getCouponById">-->
<!--        SELECT id,-->
<!--               user_id,-->
<!--               stock_id,-->
<!--               name,-->
<!--               coupon_type,-->
<!--               coupon_number,-->
<!--               price,-->
<!--               is_used,-->
<!--               created_date,-->
<!--               expired_date-->
<!--        FROM coupon-->
<!--        WHERE id = #{couponId};-->
<!--    </select>-->

    <select id="getCouponByCouponNumber">
        SELECT id,
               user_id,
               stock_id,
               name,
               coupon_type,
               coupon_number,
               price,
               is_used,
               created_date,
               expired_date
        FROM coupon
        WHERE coupon_number = #{couponNumber};
    </select>
</mapper>
