<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinddung2.givemeticon.domain.item.mapper.ItemMapper">
    <insert id="saveOrUpdate" parameterType="Item" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO item (id,
                          brand_id,
                          name,
                          price,
                          created_date,
                          updated_date)
        VALUES (#{id},
                #{brandId},
                #{name},
                #{price},
                NOW(),
                NOW())
        ON DUPLICATE KEY UPDATE brand_id     = VALUES(brand_id),
                                name         = VALUES(name),
                                price        = VALUES(price),
                                updated_date = NOW()
    </insert>

    <select id="findById" parameterType="int" resultType="Item">
        SELECT id, brand_id, name, price, created_date, updated_date
        FROM item
        WHERE id = #{itemId}
    </select>

    <select id="findPopularItemsOrderByLikeCount"
            resultType="com.jinddung2.givemeticon.domain.item.controller.dto.PopularItemDto">
        SELECT i.id,
               i.brand_id,
               i.name,
               i.price,
               m.like_count,
               m.view_count
        FROM item_favorite_meta m
        JOIN item i
          ON i.id = m.item_id
        ORDER BY m.like_count DESC, m.item_id DESC
        LIMIT #{limit}
    </select>

    <select id="findPopularItemsOrderByViewCount"
            resultType="com.jinddung2.givemeticon.domain.item.controller.dto.PopularItemDto">
        SELECT i.id,
               i.brand_id,
               i.name,
               i.price,
               m.like_count,
               m.view_count
        FROM item_favorite_meta m
        JOIN item i
          ON i.id = m.item_id
        ORDER BY m.view_count DESC, m.item_id DESC
        LIMIT #{limit}
    </select>

</mapper>
