<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinddung2.givemeticon.domain.item.mapper.ItemVariantMapper">
    <insert id="save" parameterType="ItemVariant" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO item_variant (id,
                                  item_id,
                                  seller_id,
                                  barcode,
                                  expiration_date,
                                  is_used,
                                  is_used_date,
                                  created_date,
                                  updated_date,
                                  deleted_date)
        VALUES (#{id},
                #{itemId},
                #{sellerId},
                #{barcode},
                #{expirationDate},
                #{isUsed},
                null,
                NOW(),
                NOW(),
                null)
    </insert>

    <select id="existsByBarcode" parameterType="String" resultType="boolean">
        SELECT EXISTS
                   (SELECT 1 FROM item_variant WHERE barcode = #{barcode})
    </select>
</mapper>
