<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinddung2.givemeticon.domain.item.mapper.ItemMapper">
    <insert id="saveOrUpdate" parameterType="Item" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO item (id,
                          brand_id,
                          name,
                          price,
                          view_count,
                          created_date,
                          updated_date)
        VALUES (#{id},
                #{brandId},
                #{name},
                #{price},
                #{viewCount},
                NOW(),
                NOW())
        ON DUPLICATE KEY UPDATE brand_id     = VALUES(brand_id),
                                name         = VALUES(name),
                                price        = VALUES(price),
                                view_count   = VALUES(view_count),
                                updated_date = NOW()
    </insert>

    <select id="findById" parameterType="int" resultType="Item">
        SELECT id, brand_id, name, price, view_count, created_date, updated_date
        FROM item
        WHERE id = #{itemId}
    </select>

</mapper>
