<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinddung2.givemeticon.domain.sale.mapper.SaleMapper">

    <resultMap id="saleResultMap" type="Sale">
        <result property="itemId" column="item_id"/>
        <result property="sellerId" column="seller_id"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="isBought" column="is_bought"/>
        <result property="isBoughtDate" column="is_bought_date"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <insert id="save" parameterType="Sale" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sale (id,
                          item_id,
                          seller_id,
                          barcode,
                          expiration_date,
                          is_bought,
                          is_bought_date,
                          created_date,
                          updated_date,
                          deleted_date)
        VALUES (#{id},
                #{itemId},
                #{sellerId},
                #{barcode},
                #{expirationDate},
                #{isBought},
                null,
                NOW(),
                NOW(),
                null)
    </insert>

    <update id="update" parameterType="Sale">
        UPDATE sale
        SET item_id = #{itemId},
        seller_id = #{sellerId},
        barcode = #{barcode},
        expiration_date = #{expirationDate},
        is_bought = #{isBought},
        is_bought_date = #{isBoughtDate},
        created_date = #{createdDate},
        updated_date = #{updatedDate},
        <if test="deletedDate == null">
            deleted_date = null
        </if>
        <if test="deletedDate != null">
            deleted_date = deleted_date
        </if>
        WHERE id = #{id}
    </update>

    <select id="existsByBarcode" parameterType="String" resultType="boolean">
        SELECT EXISTS
                   (SELECT 1 FROM sale WHERE barcode = #{barcode})
    </select>

    <select id="findById" parameterType="int" resultType="Sale">
        SELECT id,
               item_id,
               seller_id,
               barcode,
               expiration_date,
               is_bought,
               is_bought_date,
               created_date
        FROM sale
        WHERE id = #{saleId}
    </select>

    <select id="findNotBoughtSalesByItemId" parameterType="int" resultType="Sale">
        SELECT id,
               item_id,
               seller_id,
               barcode,
               expiration_date,
               is_bought,
               is_bought_date,
               created_date
        FROM sale
        WHERE item_id = #{itemId}
          AND is_bought = 0
          AND is_bought_date IS NULL
        ORDER BY expiration_date ASC
    </select>

    <select id="findMySalesBySellerId" resultType="java.util.List" resultMap="saleResultMap">
        SELECT id,
               item_id,
               seller_id,
               barcode,
               expiration_date,
               is_bought,
               is_bought_date,
               created_date
        FROM sale
        WHERE seller_id = #{userId}
    </select>
</mapper>
