<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinddung2.givemeticon.domain.sale.mapper.SaleMapper">
    <insert id="save" parameterType="Sale" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sale (id,
                          item_id,
                          seller_id,
                          barcode,
                          expiration_date,
                          is_bought,
                          is_bought_date,
                          created_date,
                          updated_date,
                          deleted_date)
        VALUES (#{id},
                #{itemId},
                #{sellerId},
                #{barcode},
                #{expirationDate},
                #{isBought},
                null,
                NOW(),
                NOW(),
                null)
    </insert>

    <select id="existsByBarcode" parameterType="String" resultType="boolean">
        SELECT EXISTS
                   (SELECT 1 FROM sale WHERE barcode = #{barcode})
    </select>

    <select id="findById" parameterType="int" resultType="Sale">
        SELECT id,
               item_id,
               seller_id,
               barcode,
               expiration_date,
               is_bought,
               is_bought_date,
               created_date
        FROM sale
        WHERE id = #{saleId}
          AND is_bought = 0
          AND is_bought_date IS NULL
    </select>

    <select id="findSalesByItemId" parameterType="int" resultType="Sale">
        SELECT id,
               item_id,
               seller_id,
               barcode,
               expiration_date,
               is_bought,
               is_bought_date,
               created_date
        FROM sale
        WHERE item_id = #{itemId}
          AND is_bought = 0
          AND is_bought_date IS NULL
        ORDER BY expiration_date ASC
    </select>
</mapper>
