<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinddung2.givemeticon.domain.trade.mapper.TradeMapper">
    <insert id="save" parameterType="Trade" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO trade (id,
                           buyer_id,
                           sale_id,
                           sale_price,
                           is_used,
                           is_used_date,
                           created_date)
        VALUES (#{id},
                #{buyerId},
                #{saleId},
                #{salePrice},
                #{isUsed},
                null,
                NOW())
    </insert>

    <select id="findById" parameterType="int" resultType="Trade">
        SELECT id,
               buyer_id,
               sale_id,
               sale_price,
               is_used,
               is_used_date,
               created_date
        FROM trade
        WHERE id = #{id}
    </select>


</mapper>
