<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinddung2.givemeticon.domain.user.mapper.UserMapper">
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (id,
                          account_id,
                          cash_point_id,
                          email,
                          password,
                          phone,
                          user_role,
                          is_active,
                          provider,
                          created_date,
                          updated_date,
                          deleted_date)
        VALUES (#{id},
                NULL,
                #{cashPointId},
                #{email},
                #{password},
                #{phone},
                #{userRole},
                #{isActive},
                #{provider},
                NOW(),
                NOW(),
                NULL)
    </insert>

    <update id="updatePassword">
        UPDATE user
        SET password = #{newPassword}
        WHERE id = #{id}
    </update>

    <update id="updateAccount">
        UPDATE user
        SET account_id = #{accountId}
        WHERE id = #{userId}
    </update>

    <select id="findById" parameterType="int" resultType="User">
        SELECT id,
               account_id,
               email,
               password,
               phone,
               user_role,
               is_active,
               provider,
               created_date,
               updated_date
        FROM user
        where id = #{id}
    </select>

    <select id="findByEmail" parameterType="String" resultType="User">
        SELECT id,
               account_id,
               email,
               password,
               phone,
               user_role,
               is_active,
               provider
        FROM user
        where email = #{email}
    </select>

    <select id="existsById" parameterType="int" resultType="boolean">
        SELECT EXISTS
                   (SELECT 1 FROM user where id = #{id})
    </select>

    <select id="existsByEmail" parameterType="String" resultType="boolean">
        SELECT EXISTS
                   (SELECT 1 FROM user where email = #{email})
    </select>

    <select id="existsByPhone" parameterType="String" resultType="boolean">
        SELECT EXISTS
                   (SELECT 1 FROM user where phone = #{phone})
    </select>
</mapper>